// floating navbar's height
$navbarHoverColor: #e7e7e7;

html, body {
    height: 100%;
    padding-top: 40px;
    background-color: white;
}

// Sometimes jQuery UI overwrites the Bootstrap values
a {
    color: $linkColor;
}

nav {
    background-color: $navbarColor;
}

.wrapper {
  min-height: 100%;
}

.content {
  padding-bottom: 60px;
}

footer {
    background-color: $navbarColor;
    height: 60px;
    border-top: 1px solid $navbar-default-border;
    margin-top: -60px;
    padding: 20px;
    text-align: center;
}

//=== NAVBAR
nav {
    // general links
    ul.nav-pills li:first-child {
        padding-top: 2px;
    }   

    // login/logout
    ul.auth a:last-child {
        padding-right: 0; /* flush with right margin */
    }

    // override bootstrap color for search button
    .input-group-addon {
        background: inherit;
    }

    // postorius link
    .postorius {
        padding: 10px 20px;
        margin: 0;
        float: right;
    }
}

// hack: forces search box to appear on one line in navbar in larger screens
// hack: we need extra .input-group to force search box to appear on one line in smaller screens
// note: any pixel-based width will allow hack to work
@media (min-width: 768px) {
    nav .input-group {
        width: 200px;
    }
}
